@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Los Teques, Edo Miranda<br />
    Urb Colinas de Tina Antonia, Calle 7 Casa #80<br />
    <abbr title="Phone">Tlf:</abbr>
    0424.126.49.99
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">armando.fernandes@sitiouno.com</a><br />
</address>