@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SitioUno</h1>
    <p class="lead">Aplicacion para la gestion de usuarios y departamentos en .Net Framework 4.5.2 y MongoDB.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Comienza &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Trabajadores: </h2>
        <p>
            <br> - Consultar trabajadores <br />
            <br> - Crear trabajador<br />
            <br> - Ver detalles de un trabajador<br />
            <br> -Modificar un trabajador<br />
            <br> -Eliminar<br />

        </p>
    </div>
    <div class="col-md-4">
        <h2>Departamentos:</h2>
        <p>
            <br> -Consultar departamentos<br />
            <br> -Crear departamento<br />
            <br> -Eliminar un trabajador de un departamento<br />
            <br> -Modificar un departamento<br />
            <br> -Eliminar un departamento<br />


        </p>
    </div>
</div>